<div class="block rounded-lg bg-gray-800 pt-0 p-6 text-surface shadow-secondary-1 text-white">
  <%= link_to club_path(club) do%>
  <h5 class="mb-2 text-xl font-medium leading-tight"><%= club.name %></h5>
  <p class="mb-4 text-base">
    <%= club.address %>
  </p>
  <% end %>
  <%= link_to "https://www.google.com/maps/search/?api=1&query=#{club.latitude},#{club.longitude}", target: "_blank" do%>
  <button
    type="button"
    class="bg-gray-400  inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 "
    data-twe-ripple-init
    data-twe-ripple-color="light">
        Voir sur Google Maps
  </button>
  <% end %>
</div>
