<div id="region_window">
  <div class="block rounded-lg bg-gray-800 pt-0 p-6 text-surface shadow-secondary-1 text-white">
    <h5 class="mb-2 text-xl font-medium leading-tight"><%= region_code %></h5>
    <p class="mb-4 text-base">
      <%= club_count %> club présent dans cette région
    </p>
  </div>
</div>
