/* Vos propres styles */
.my-map-container .mapboxgl-popup {
  width: 300px;
  height: 200px;

}

.my-map-container .mapboxgl-popup-content {
  background-color: #1F2937;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
  a {
    text-decoration: none;
  }
}

.my-map-container .mapboxgl-popup-close-button {
  position: fixed;

  font-size: 30px;
  color: #fff;
  right: 14px;
  top: 7px;
}

.complete {
  .mapboxgl-ctrl-geocoder {
    max-width: none;
    width: 100%;
    border: 1px solid lightgrey;
    box-shadow: none;
    background-color: transparent;
  }
  .mapboxgl-ctrl-geocoder--input{
    width: 100%;
    height: 3rem;
  }

  .mapboxgl-ctrl-geocoder--icon-search{
    top: 15px;
  }

}
