/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");


.sidebar {
  transition: left 0.2s ease-out;
}

.sidebar-visible {
  left: 0;
}

.mapboxgl-popup {
  width: 200px;
}

.mapboxgl-popup-content {

  background-color: #1F2937;

  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.mapboxgl-popup-close-button {
  font-size: 20px;
  color: #fff;
  right: 5px;
  top: -1px;
}


#div_yeild {
  margin-left: 16rem;
}

@media (max-width: 767px) {
  #div_yeild {
    margin-left: 0;
  }
}

.rating-star {
  display: none; /* Masquer les boutons radio */
}

.rating-star + .rating-star-label {
  cursor: pointer;
  margin-right: 5px; /* Espace entre les étoiles */
}

.rating-star:checked + .rating-star-label svg path {
  color: yellow; /* Couleur de remplissage pour les étoiles sélectionnées */
}

.rating-star-label svg path {
  color: gray; /* Couleur par défaut des étoiles */
}

.rating-star-label.selected svg path {
  color: yellow; /* Couleur des étoiles sélectionnées */
}

.rating-star-label.validated svg path {
  color: yellow; /* Couleur des étoiles validées */
}
