/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweetalert
 */

@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import "components/index";





.sidebar {
  transition: left 0.2s ease-out;
}

.sidebar-visible {
  left: 0;
}


#div_yeild {
  margin-left: 16rem;
  position: relative;

  .sticky-button {
    position: sticky;
    bottom: 2rem; // À ajuster selon vos besoins
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; // Assure que le bouton est devant le contenu
  }

}


@media (max-width: 767px) {
  #div_yeild {
    margin-left: 0;
  }
}


.blur-elements {
  filter: blur(2px);
}
